/*            BOOTSTRAP STYLES          */
h1 {
	font-size: 2.5rem;
}

h5 {
	font-size: 1.25rem;
}

h1,
h5 {
	line-height: 1.2;
	margin-bottom: 0.5rem;
	font-weight: 500;
}
/* ====================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI";
	color: #212529;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	background: #abbaab;
	background: linear-gradient(to right, #d0ece7, #edeed8);
}

.pokemon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	/*Both these lines are only useful for the loader*/
	height: 100%;
	align-items: center;
}

.pokemon-card {
	position: relative;
	height: 300px;
	width: 185px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	border-radius: 20px;
}

.poke-id {
	margin-top: 10px;
	border-radius: 20px;
	padding: 3px 10px;
	font-size: 1.1rem;
	background: rgba(0, 0, 0, 0.2);
}

img {
	width: 70%;
}

.circle {
	padding: 65px;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	top: 6%;
	z-index: -1;
}

.poke-name {
	font-weight: bold;
}

.button {
  background-color: #04AA6D;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 18px;
  padding: 6px 15px;
  margin-top: 4px;
  margin-right: 10px;
  display: block;
  float: right;
  border-radius: 5px;
}

.button:hover{background-color: #059862 !important;
  color: white !important;}

